<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Atlas | Discord Bot</title>
    <link rel="icon" type="image/ico" href="/assets/imgs/atlas.jpg" />
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <script src="/node_modules/preline/dist/preline.js"></script>
</head>

